services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: s3_transfer_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Krishna123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

